/* media query to go mobile first */
  
  h1 {
    margin: 20px 0 15px 0;  
  }
  
  #main {
    width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  ul {
    list-style: none;
  }
  
  ul>li:hover {
    background-color: #F5F5F5;
  }
  
  .form-inline .form-control {
    width: 50%;
    margin-left: 80px;
  }
  
  .done {
    color: red;
    text-decoration: line-through;
  }
  
  .undone {
    color: #61DAFB;
  }
  
  .icon {
    margin: 6px 10px 6px 0;
  }
  
  .input-form-todo {
      margin: 0 auto;
  }

  .form-todo-container {
    margin-top: 20px;
}

#edit {
  padding-right: 20px;
}

.input-div {
  display: inline;
}

.task-section:last-child li {
  font-style: italic;
  font-weight: bold;
}