/* media query to go mobile first */
  
  h1 {
    margin: 20px 0 15px 0;  
  }
  
  #main {
    width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  ul {
    list-style: none;
  }
  
  ul>li:hover {
    background-color: #F5F5F5;
  }
  
  .form-inline .form-control {
    width: 50%;
    margin-left: 80px;
  }
  
  .done, #close {
    color: #dc3545;
    text-decoration: line-through;
  }
  
  .undone, .add-task, .edit-check, #edit{
    color: #007bff;
  }
  
  .icon {
    margin: 6px 10px 6px 0;
  }
  
  .input-form-todo {
      margin: 0 auto;
  }

  .form-todo-container {
    margin-top: 20px;
}

#edit {
  padding-right: 20px;
}

.input-div {
  display: inline;
}
/*
.task-section:last-child li > div:not(.done) {
  font-style: italic;
  font-weight: bold;
}
*/
.task-lastUndone{
  font-style: italic;
  font-weight: bold;
}

.edit-check {
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.check-to-complete {
  cursor: pointer;
}