.remove-friend {
    color: #dc3545;
    font-size: 25px;
}

.add-friend {
    color: #007bff;
    font-size: 25px;
}

.friend-option{
    display: inline;
}

/* friends and messages list */

.messages-friends{
    display:flex; 
    flex-direction:row;
}

.friends-column {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    margin-left: 15px;
}