.remove-friend {
    color: #dc3545;
    font-size: 25px;
}

.add-friend {
    color: #007bff;
    font-size: 25px;
}

.friend-option{
    display: inline;
}

/* friends and messages list */

.messages-friends{
    display:flex; 
    flex-direction:row;
}

.friends-column {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    margin-left: 15px;
}

.user-image-friends {
    vertical-align: middle;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border-radius: 50%;
}

.user-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}