.dash-card {
    margin: .7em;
}

.dash-nav-item {
    width: 50%;
}

.dash-nav-item:hover {
    cursor: pointer;
    font-weight: bold;
}

.redirect-dash-link {
    font-size: 130%;
    float: right;
    padding-right: 10%;
}
.redirect-dash-link:hover {
    text-decoration: none;
    font-size: 133%;
}
